<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>picture</key>
		<string>66063a83jw1etbvnc4sobj20hs0hsjta.jpg</string>
		<key>text</key>
		<string>小皮孩，你還認得我！！😹😆@长隆野生动物世界</string>
		<key>icon</key>
		<string>0.jpeg</string>
		<key>name</key>
		<string>胡杏儿</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>“不要轻易和人发生争执，当有人和你无关紧要的争执时，你就让他赢，因为你并未损失什么 。其实人生的幸福，一半要争，一半要随 。争，不是与他人争，而是与困苦抗衡 。随，不是随波逐流，而是知止而后安 。 ” --和爱人争，赢了也是输了；和朋友争，赢了利益，输掉人情；和亲人争，赢了面子，寒了心</string>
		<key>icon</key>
		<string>1.jpeg</string>
		<key>picture</key>
		<string>4165f919gw1etaz2es7avj20c80c80to.jpg</string>
		<key>name</key>
		<string>治愈心理学</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>小糯米照片第一次曝光的时候，有人说是因为杨幂自己作，老在微博上提小糯米，一堆键盘侠跟风踩。自那次事件以后，她没有再提过一次小糯米，今天小糯米正面照曝光又有人说不曝光孩子照片是因为孩子不好看等话，人家小糯米才一岁还没有长开，看杨幂小时候就知道小糯米长大后绝对很好看。别为了黑而黑。</string>
		<key>icon</key>
		<string>2.jpeg</string>
		<key>name</key>
		<string>圈掌柜</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>岁月很长，人海茫茫，别回头也别将就，自然会有良人来爱你。</string>
		<key>icon</key>
		<string>3.jpeg</string>
		<key>picture</key>
		<string>ab419720jw1etbuf2mf6aj20ku0pkq78.jpg</string>
		<key>name</key>
		<string>分手别把锅拿走啊</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>【神观点】一觉醒来，剧情神反转，南京那个宝马肇事司机，排除了酒驾，也排除了毒驾，还有了驾照，更神奇的是连姓都变了。</string>
		<key>icon</key>
		<string>4.jpeg</string>
		<key>picture</key>
		<string>6ca014e5jw1etbxlg8xprj20lc0motb.jpg</string>
		<key>name</key>
		<string>神观点</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>很多人以为宗教信仰自由只是对信教群众而言，其实是所有人的最基本的自由。言论自由等都以此为源。而且，信仰自由，不单是信这个信那个的自由，更是可以不信、不信哪一个的自由。任何人和组织不能因为自己信与不信或信什么而要求别人信与不信，更不能利用公共资源否定别人的信仰，强行实践自己的认知。</string>
		<key>icon</key>
		<string>5.jpeg</string>
		<key>name</key>
		<string>赛亚人</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>女孩问她爸什么是爱情，爸说就是我什么都没时你妈爱上了我；她问爸那什么是亲情，爸爸说就是你妈绝不会让你嫁给什么都没的男人。女孩又去问妈什么是爱情，妈说就是你爸现什么都有了却还爱着我；她又问妈什么是亲情，妈说就是你爸绝不会让你嫁给什么都有却不爱你的男人！”--分享，爸妈是待你最好的人</string>
		<key>icon</key>
		<string>1.jpeg</string>
		<key>picture</key>
		<string>6ca014e5jw1etbxl</string>
		<key>name</key>
		<string>治愈心理学</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>一位父亲在女儿婚礼上的真情告白，很感动！[泪][泪]#泪奔#</string>
		<key>icon</key>
		<string>6.jpeg</string>
		<key>name</key>
		<string>别人家的男朋友</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>做人呢，一定要低调！哈哈哈哈原谅我笑点低</string>
		<key>icon</key>
		<string>7.jpeg</string>
		<key>picture</key>
		<string>6628711bgw1etbvbrzym1g207f05kb2c</string>
		<key>name</key>
		<string>笑话趣图大百科</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
